werkzeug==2.0.3
gunicorn
flask
python-dateutil
requests
requests_futures
pandas
numpy
scipy
scikit-learn
plotly
dash<2
dash-renderer<2
dash-core-components<2
dash-html-components<2
dash-bootstrap-components<1
fsspec
s3fs