gunicorn
flask
python-dateutil
requests
requests_futures
pandas
numpy
scipy
scikit-learn
plotly
dash==1.21.0
dash-renderer
dash-core-components
dash-html-components
dash-bootstrap-components<1
werkzeug==2.0.3
fsspec