@media (min-width: 1200px) {
    .container{
        max-width: 1800px;
    }
}

input[type="radio"], input[type="checkbox"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px;
    margin: 3px;
}

.navbar{
    padding: 0.5rem 0.5rem
}